@tailwind base;
@tailwind components;
@tailwind utilities;



.meal-not-found{
    grid-template-columns: 1fr!important;
    color: red;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    animation: fade-in 1s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.enter-ingredient{
    grid-template-columns: 1fr!important;
    color: red;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    animation: fade-in 1s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.showRecipe {
  display: block;
}
